.task {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  font-size: 20px;
  border: 1px solid black;

  &__title {
    color: darkgreen;
    margin-right: 18px;
  }
}
.task:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	background-color:cadetblue;
}
.button {
	color: black;
	border: none;
	border-radius: 20%;
	cursor: pointer;
 }
 
