.app {
  border: 1px solid;
  padding: 32px;
}

.title {
  color: green;
  font-size: 32px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;

  &__item {
    width: 50%;
    border: 1px solid;
  }
}