.category {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  border: 1px solid cadetblue;
  border-radius: 3px;
  

  &__title {
    color: darkslategray;
    margin-right: 18px;
  }
}
.category:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color:azure;
}

.button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 10px;
}
.edited {
  border: none;
  border-radius: 20%;
  background-color: white;
  cursor: pointer;

}
